@media screen and (max-width:576px) {
    header{
        margin-bottom: 20px;
        margin: 0 auto;
        padding: 0 20px;
    }
    nav,.banner{
        margin: 0;
    }
    .banner{
        gap: 50px;
    }
    nav{
        width: 100%;
        justify-content: space-between;
    }
    .nav-list{
        display: none;
    }
    .nav-links{
        border: none;
    }
    .banner{
        width: 100%;
        flex-direction: column;
        padding-left: 5px;
    }
    .banner-img{
        width: 100%;
    }
    #vanish{
        display: none;
    }
    .btn-primary {
        padding: 16px 38px;
      }
    .button{
        justify-content: space-between;
    }
    .hamburger{
        display: block;
    }
    .box-1{
       left: 12px; 
       bottom: 250px;
    }
    .box-2{
        right: 0px;
        bottom:  420px;
    }
}

/* Habit section make responsive */

@media screen and (max-width:576px) {
    .habit{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .features{
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        
    }
    .feature-box{
        width: 100%;
    }
}